<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>RP Flask REST API</title>
</head>
<body>
    <h1>
        DayTrack!
    </h1>

    {% for user in user %}
    <h3>{{user["user_name"]}} {{user["user_email"]}} - {% if user["user_status"] == "0" %}<strong style="color: green;">Logado</strong>{% else %}<strong style="color: crimson;">Deslogado</strong>{% endif %}</h3>
    <ul>
        {% for event in event %}
            {% if event["user_id"] == user["user_id"] %}
                <li><strong>{{event["event_name"]}}</strong> - {{event["event_description"]}}</li>
            {% endif %}
        {% endfor %}
    </ul>
    {% endfor %}

</body>
</html>
