<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>DayTrack App</title>
        <!--
        <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
        <link rel="stylesheet" href="../static/css/main.css">
        -->
        <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    </head>
    <body>
        <div id="cell_size">
            <h1 id="logo_login">DayTrack</h1>
            <div class="fake_image"></div>

            <div id="login_div">
                <form action="login" method="post">
                    <div>
                        <label class="login_label" for="login_name">Email:</label>
                        <input class="login_input" type="email" id="login_name" name="user_email">
                    </div>
                    <div>
                        <label class="login_label" for="login_password">Senha:</label>
                        <input class="login_input" type="password" id="login_password" name="user_password">
                    </div>
                    <input class="submit_btn_black" type="submit" value="ENTRAR" id="greet">
                  </form>
            </div>

            <p id="criar_conta_link">Não possue uma conta? <a href="https://youtu.be/dQw4w9WgXcQ">Crie uma</a></p>
        </div>
    </body>
</html>